@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');



.navbarCSS{
    background-color:  #b0f2c2;
}

.navbarItems{
    margin: 16px 0;
    color: white;
    font-size: 20px;
}

.btnItem{
    background-color: #ffb6af;
    border: white;
}

.carousel-item{
    height: 35rem;
    background: #000;
    margin-top: 6rem;
    position: relative;
    background-position: center;
    background-size:cover;
}

.carouselContainer{
    position: absolute;
    bottom: 0;
    left: 6rem;
    right: 60rem;
    padding-bottom: 50px;
}

.imagen-fondo-carousel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: .7;
}

.imagen-fondo-card{
height: 13em;
background-position: center;
background-size: cover;
}

.card-carousel-item{
    height: 20em;
}

.card-bg{
    background: #fcfcda;
}

.footerCSS{
background: #b0f2c2;
position: relative;
}

.wrapperCSS{
    display: flex;
    justify-content: space-between;
}


/*
*{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: var(--bg);
}

.container{
    display: grid;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    position: flex;
    justify-content: space-between;
    background: var(--bg);
    background-color: #b0f2c2;
}


.header .logo img{
    height: 5rem;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul {
    display: flex;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px;
}

.nav-menu a{
    display: block;
    position: relative;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    padding: 0 4px;
    text-transform: uppercase;
}

.nav-menu > ul >li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #71e215;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
.nav-menu .active > a::before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a{
    color: #fff;
}

#header .logo{
    margin: 0;
    padding: 0;
    line-height: 1;
}
*/
/*@media(max-width:768px){

}
@media(max-width:450px){

}
*/